.noResults{
  margin: 10px;
}

.title {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(115, 95, 50);
  color: rgb(0, 0, 0);
  border-radius: 0 0 0.5em 0.5em;
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 70vw;
  margin: 20px;
  padding: 10px;
}

.imageContainer {
  position: relative;
  width: 150px;
}

.poster {
  border-radius: 10px;
  border: 5px solid rgb(198, 151, 73);
  display: block;
}
