.slick-prev {
  left: -52px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}

.watchlistContainer {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem; */
  list-style: none;
  display: flex;
  flex-direction: column;
}

.watchlistHeader {
  text-align: center;
}

.watchlistMovie {
  display: flex;
}

.imageContainer {
  width: 30%;
  height: auto;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.slick-slide {
  filter: blur(5px); /* Apply blur effect to all slides */
  transition: filter 0.3s ease;
}

.slick-slide.slick-center {
  filter: blur(0); /* Remove blur effect for the center slide */
}

/*box shadow generator*/
