.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  border-radius: 10px;

  background-color: rgb(115, 95, 50);
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonText {
  font-weight: 900;
  padding: 0.5em;
}
