.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.submitButton {
  width: 90%;
  padding: 5px;
}
