.body {
  background-color: rgb(40, 42, 58);
  color: rgb(198, 151, 73);
  height: 100vh;
}

.title {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: rgb(115, 95, 50);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
