.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  border: solid 0.2em black;
  border-radius: 2em;

  /* position: relative;
    min-height: 100vh; */

  position: sticky;
  z-index: 30;
  bottom: 0;
  background-color: rgb(115, 95, 50);
}

.backButton {
  background-color: rgb(115, 95, 50);
}
